[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/adalisan/dotfiles

[submodule "gitignore"]
	path = gitignore
	url = https://github.com/ahmadassaf/gitignore

[submodule "bash-it"]
	path = bash-it
	url = https://github.com/adalisan/bash-it

[submodule "configurations-linux"]
	path = configurations_linux
        url = https://github.com/adalisan/configurations-linux

[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ahmadassaf/oh-my-zsh

[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/ahmadassaf/powerline-fonts

[submodule "Themes"]
	path = Themes
	url = git@github.com:adalisan/themes.git
[submodule "dircolors_2"]
	path = dircolors
	url = https://github.com/adalisan/dircolors.git
[submodule "dotfiles_extra"]
	path = dotfiles_extra
	url = https://github.com/adalisan/dotfiles_extra
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
